body {
    background-image: url(https://st4.depositphotos.com/11634452/39276/i/450/depositphotos_392760318-stock-photo-green-grass-texture-sport-background.jpg);
    width: auto;
    height: auto;
    padding: 20px;
}

h1, h2, p, li, ol, h3 {
  text-align: center;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
    text-align: center;
  color: white;
  text-decoration: none;
}
